.directory{
    display: flex;
    align-items: flex-start;
    padding:3px 0;
}
.directory > .toggle-visibility > span{
    display: block;
    width:25px;
    height:25px;
    cursor:default;
}
.directory > .name > span{
    padding:3px 6px;
    cursor:default;
    font-size:1.1em;
}
.directory.selected{
    background:rgb(164, 207, 221);
}
.directory:hover{
    background:hsl(194deg 55% 81%);
}
.directory.hovering{
    background:hsl(194deg 55% 81%);
}
