<div>
    <div class="directory"
        [style.padding-left.px]="depth * 24"
        [class.selected]="isSelected"
        [class.hovering]="isHovering"
        draggable="true"
        (dragstart)="onDragStart($event)"
        (dragenter)="onDragEnter($event)" 
        (dragover)="onDragOver($event)" 
        (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)"
        (dragend)="onDragEnd($event)"
        [id]="getElementId()">
        <div class="toggle-visibility">
            <span class="material-symbols-outlined" *ngIf="isClose" (click)="toggleVisibility()">folder</span>
            <span class="material-symbols-outlined" *ngIf="!isClose" (click)="toggleVisibility()">folder_open</span>
        </div>
        <div class="name">
            <span (click)="onSelect($event)">{{item.name}}</span>
        </div>    
    </div>
    <div class="children">
        <ng-container *ngIf="!isClose">
          <ng-container *ngFor="let child of item.children; let i = index">
            <app-tree-item  [item]="child" [depth]="depth + 1"></app-tree-item>
          </ng-container>     
        </ng-container>
    </div>
</div>
