main > div:last-child{
    display: flex;
}
main > div:last-child > *{
    width:49vw;
    border:1px solid lightgray;
    min-height:30vh;
    padding:6px;
}
#selected-directories-container > div:first-child{
    font-weight: 600;
    border-bottom:1px solid lightgray;
    padding:0 0 6px 0;
    margin:0 0 6px 0;
}